.card{
  margin: 10px;
}

.fixed-card{
  padding: 10px;
  max-height: 200px;
}

.links-card ul{
  margin:10px;
  padding:0px;
  list-style-type: none;
}

.scroll-card{
  max-height: 300px;
  overflow-y: auto;
}

.button-to-link{
  background:none;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
}

.fas{
  padding: 3px;
}

.team-profile-picture{
  z-index: 1;
  position: absolute;
}

#admin-list-users span{
  margin-right: 40px
}

#team-games-wrapper{
  z-index: -1;
  padding-top: 50px;
  border-radius: 5px 5px 0 0;
  background-color: #dfe3ee;
  border-bottom: 1px solid #dddfe2;
}

body{
  background-color: #f7f7f7;
}
