<div class="dashboard-header">
  <h1 class="text-center"><%= team.name %></h1>
</div>
  <div class="row">
    <div class="col-sm-3">
      <a class="btn btn-primary btn-block" href="/games/create">Create game</a>
    </div>
    <div class="col-sm-6" >
      <div id="team-games-wrapper" class="jumbotron">
        <div >
          <ul class="list-group">
            <% if( typeof games != 'undefined') { %>
              <% games.forEach(function(game) { %>
                <a href='/games/<%= game.id %>'>
                  <li class="list-group-item card">
                    <%= game.title %>
                  </li>
                </a>
              <% }); %>
            <% } else { %>
                <li class="list-group-item card">Nothing to see here...</li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
