<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <% include ../partials/messages %>
      <form action="/games/create" method="POST">
        <div class="form-group">
          <label for="title"></label>
          <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            placeholder="Enter Title"
          />
        </div>
        <div class="form-group">
          <label for="home"></label>
          <input
            type="text"
            id="home"
            name="home"
            class="form-control"
            placeholder="Enter Home"
          />
        </div>
        <div class="form-group">
          <label for="away"></label>
          <input
            type="text"
            id="away"
            name="away"
            class="form-control"
            placeholder="Enter Away"
          />
        </div>
        <div class="form-group">
          <label for="venue"></label>
          <input
            type="text"
            id="venue"
            name="venue"
            class="form-control"
            placeholder="Enter Venue"
          />
        </div>
        <input
            type="hidden"
            name="teamId"
            value="<%=user.team"
            class="form-control"
        />
        <button type="submit" class="btn btn-primary
        btn-block">Create</button>
      </form>
    </div>
  </div>
</div>
