<div class="row">
  <div class="col-sm-3 card">
    <h3>Details</h3>
    <p><strong>Title: </strong><%= game.title %></p>
    <p><strong>Home: </strong><%= game.home %></p>
    <p><strong>Away: </strong><%= game.away %></p>
    <p><strong>Venue: </strong><%= game.venue %></p>
  </div>
  <div class="col-sm-6 card">
    <h2>Events</h2>
  </div>
  <div class="col">
  </div>
</div>
