<form action="/events/update" method="POST" id="event-list-update-form">
  <div class="form-group">
    <label>From</label>
    <select class="browser-default form-control" value="" name="from">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
    </select>
  </div>
  <div class="form-group">
    <label for="to">To</label>
    <select class="browser-default form-control" name="to">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
    </select>
  </div>
  <div class="form-group">
    <label>Type</label>
    <select class="browser-default form-control" name="type">
      <option value="Foot">Foot</option>
      <option value="Hand">Hand</option>
    </select>
  </div>
  <div class="form-group">
    <label>Area</label>
    <select class="browser-default form-control" name="area">
      <option value="Back">Back</option>
      <option value="Mid">Mid</option>
      <option value="Forward">Forward</option>
    </select>
  </div>
  <div class="form-group">
    <label>Outcome</label>
    <select class="browser-default form-control" name="outcome">
      <option value="Lateral">Lateral</option>
      <option value="Forward">Forward</option>
      <option value="Back">Back</option>
      <option value="Turnover">Turnover</option>
      <option value="Score">Score</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <input type="hidden" name="passId">
  <input type="hidden" name="game">
  <input type="hidden" value="pass" name="eventType">
</form>
